<h3>Add Chambre</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Numero de chambre</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="chambre.num_chambre" name="nom">
    </div>

    <div class="form-group">
      <label for="name">type de chambre</label>
      <input type="text" class="form-control" id="type_chambre" required [(ngModel)]="chambre.type_chambre" name="type_chambre">
    </div>


    <div class="form-group">
      <label for="name">Prix</label>
      <input type="number" class="form-control" id="prix" required [(ngModel)]="chambre.prix" name="prix">
    </div>
    <div class="form-group">
      <label for="name">id Hotel</label>
      <input type="number" class="form-control" id="id_hotel" required [(ngModel)]="chambre.hotel_id" name="id_hotel">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
